


<ion-content padding center text-center style="background-color:#000000">
  <div style="margin-bottom:-50%; margin-top: 30%">
    
    <h1 style=" color: green; font-size: 80px" >footsal</h1>
    <br>
    <br>
    <form #f="ngForm" (ngSubmit)="goToLanding(f.value)">
      <ion-list style="background-color:transparent">
        <ion-item style="background-color:transparent">
          <ion-input placeholder="Email" type="email" name="email" ngModel required></ion-input>
        </ion-item>

        <ion-item style="background-color:transparent">
          <ion-input placeholder="Password" type="password" name="password" ngModel required></ion-input>
        </ion-item>
      </ion-list>
          <ion-button color="light"round outline type="submit">Sign In</ion-button>
          <p>
            Don't have account?
            <span ><a style="color: green"(click)="goToSignupForm()"> Sign up here</a></span>
          </p>
    </form>

  </div>
  <div>
    <ion-title>
    </ion-title>
  
  
  </div>
</ion-content>

