<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        OTP Verification
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <h1>Kode OTP sudah dikirim ke nomor hp yang sudah anda registrasi. Mohon masukkan kode OTP anda</h1>
  <form (ngSubmit)="checkOTP()">
    <ion-label color="dark" position="stacked">OTP</ion-label>
    <ion-input placeholder="Code" type="text" name="otp" [(ngModel)]="userInput" required></ion-input>
    <ion-button color="dark" center type="submit">Verificate</ion-button>
  </form>
</ion-content>
