<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Signup
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding center text-center style="background-color:#ffffff">
    <ion-title>
      
      </ion-title>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" style="background-color:transparent">
    <ion-list>
      <ion-item style="background-color:transparent">
        <ion-input placeholder="Username" type="text" formControlName="username"></ion-input>
      </ion-item>
      <ion-item style="background-color:transparent">
        <ion-input placeholder="Email" type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item style="background-color:transparent">
        <ion-input placeholder="Password" type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item style="background-color:transparent">
        <ion-input placeholder="Confirm Password" type="password" formControlName="confirmpassword"></ion-input>
      </ion-item>
      <ion-item style="background-color:transparent">
          <ion-input placeholder="Phone Number" type="number" formControlName="phonenumber"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" block [disabled]="!userForm.valid" color="dark"round (click)="goToLogin()">Register</ion-button>

  </form>

</ion-content>

