<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Forum</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-list>
      <div *ngFor="let item of lstOfForum" color="primary" style="margin-bottom:10px;border:black solid">
        <ion-item color="dark" lines="color:dark">
          <div (click)="reroute(item.id)" lines="none" style="margin-top:5px;padding-bottom:0px!important;margin-bottom:0px!important">
            <ion-label style="color:#BB903E;" text-wrap>
              <h1>{{item.title}}</h1>
              <p style="font-size:10px;">By: <ion-icon name="people"></ion-icon>{{item.ts}}</p>
            </ion-label>
          </div>
        </ion-item>
        <ion-item color="dark" lines="none">
          <ion-text text-wrap style="font-size:12px;color:white;height:150px;max-height:150px;">{{item.content}}</ion-text>
        </ion-item>
        <div color="dark" style="position:relative;bottom:0;text-align: center;background-color:#BB903E;border-top:black solid;">click to read more</div>
        <ion-item color="dark"lines="none" style="border-top:black solid;">
          <ion-text text-wrap style="font-size:10px;color:white;">Date Created: {{item.date}}</ion-text>
        </ion-item>
      </div>
  </ion-list>
</ion-content>
