<ion-header>
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        {{content.title}}
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-item style="margin-top:15px;" text-justify><ion-text>{{content.content}}</ion-text></ion-item>

  <ion-item lines="none">
    
    <div style="text-align:center;margin:auto;font-size:18px">
      <ion-button color=dark (click)="commentBox ? commentBox = false : commentBox = true;">
        <ion-icon name="add-circle"></ion-icon>
        Add Comments
      </ion-button>
    </div>
    
  </ion-item>
  <ion-item lines="none" *ngIf="commentBox">
      <ion-label position="stacked">Comment</ion-label>
    <ion-textarea style="border:solid" placeholder="Your Comments" [(ngModel)]='commentContent'></ion-textarea>
    <ion-button color=dark (click)="executeComment()">Confirm</ion-button>
  </ion-item>

  <ion-item *ngFor="let item of comments">
    <ion-label position="stacked">{{item.userId}}</ion-label>
    <ion-text style="width:100%;text-align:justify;">{{item.content}}</ion-text>
  </ion-item>
</ion-content>
