<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: green">List Lapangan</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-list>
      <div (click)="reroute(item.id)" *ngFor="let item of news" ion-item style="background:white; color:green!important; padding: 0;">
        <h2>{{item.title}}</h2> 
          <p>27{{item.date}}</p> 
          <!-- <ion-thumbnail item-start> 
          <img src="../../assets/imgs/test.png"> 
          </ion-thumbnail>  -->
      </div>
  </ion-list>
</ion-content>

