
.active {
    --ion-text-color: var(--ion-color-dark);
 
    ion-icon {
        --ion-text-color-rgb: var(--ion-color-dark);
    }
}
 
.parent-active {
    font-weight: 500;
}
 
.sub-item {
    padding-left: 20px;
    font-size: small;
}