<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>    
  <form (ngSubmit)="edit()">
    <ion-list>
      <ion-item>
          <ion-label color="dark" position="stacked">Email</ion-label>
        <ion-input disabled="true" placeholder="Email" type="email" name="email" [(ngModel)]="profiles.email" required></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="dark" position="stacked">Password</ion-label>
        <ion-input placeholder="Password" type="password" name="password" [(ngModel)]="profiles.password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark" position="stacked">Username</ion-label>
        <ion-input placeholder="Username" name="Username" value="{{profiles.username}}" [(ngModel)]="profiles.username" required></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="dark" position="stacked">Phonenumber</ion-label>
          <ion-input placeholder="Phonenumber" type="number" name="Phonenumber" [(ngModel)]="profiles.phonenumber" required></ion-input>
        </ion-item>
    </ion-list>
    <div text-center>
      <ion-button color="dark" center type="submit">Edit</ion-button>
    </div>
    
  </form>
</ion-content>
